// Pagination
.pagination {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;

  > * {
    margin-left: rem(10px);
  }

  .form-control,
  .btn {
    width: rem(40px);
    height: rem(40px);
    padding: 0;
    text-align: center;
  }

  .form-control {
    color: $semi-black;
  }
}
