.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  .close-btn-mobile {
    display: none;

    @media (max-width: 768px) {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      font-size: 1.5rem;
      display: block;
    }
  }

  // Logo
  .logo {
    margin: rem(30px 0);
    text-align: center;

    a {
      display: inline-block;
      text-decoration: none;

      &,
      &:hover {
        color: $primary-color;
      }
    }

    span {
      display: block;
      margin-top: rem(10px);
      font-size: rem(20px);
      line-height: rem(27px);
      font-weight: 600;
    }
  }

  .icon-red {
    color: $red;
  }

  .btn {
    background-color: transparent;
    border: transparent;
  }

  /* Navigation */
  .nav {
    &-link {
      padding: rem(24px) rem(16px);
      transition: 200ms all ease-in;

      i {
        padding-right: rem(5px);
      }

      &::before {
        content: '';
        transition: 200ms background-color ease-in;
        position: absolute;
        background-color: $white;
      }

      &.active,
      &:hover {
        color: $blue;
        position: relative;
        background-color: $grey;
        font-weight: 600;

        &::before {
          content: '';
          position: absolute;
          background-color: $blue;
          left: calc(0% - 10px);
          top: 0px;
          width: 10px;
          height: 100%;
        }
      }
    }
  }

  // Logout
  .logout {
    margin-left: rem(-10px);
    padding-top: rem(24px);
    padding-bottom: rem(16px);

    button {
      padding-left: rem(26px);
      font-size: rem(16px);
      line-height: rem(22px);
      color: #687178;
      text-align: left;

      i {
        padding-right: rem(5px);
      }
    }
  }
}
