// Dashboard
.dashboard {
    .section-header {
        .title {
            margin-bottom: rem(20px);
            font-size: rem(20px);
            line-height: rem(27px);
            font-weight: 400;
            color: #374047;
        }
    }

    .statistics {
        margin: rem(-10px);
    }
}
