.subareas {
  width: 50%;
  margin-bottom: rem(20px);

  @media (max-width: 768px) {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(4px);

    strong {
      color: $semi-black;
      font-weight: 600;
    }

    span {
      color: $common-color;
      line-height: 17px;
      font-size: rem(12px);
    }
  }

  .content {
    border: 1px solid $border-grey;
    padding: rem(10px);
  }

  .input-field {
    background-color: $grey;
    border: none;
  }

  .form-group {
    margin-bottom: rem(10px);
  }

  .text-message {
    font-size: rem(14px);
    color: $light-grey;
  }

  .content-list {
    border-top: 1px solid $border-grey;
    padding-top: 10px;

    .list:last-child {
      .child:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    .child {
      color: $semi-black;
      font-size: rem(16px);
      padding: 18px 10px;
      margin-bottom: rem(8px);

      .without-edit {
        .form-group {
          margin-bottom: 0px;
        }
      }

      .with-edit,
      .without-edit form {
        display: flex;
        justify-content: space-between;
      }

      &:hover {
        background-color: $bg-grey-table;

        .actions {
          display: block;
        }
      }

      .actions {
        display: none;
      }
    }
  }
}
