<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <title>Aportaciones voluntarias</title>


</head>

<body>


<p>eh je je je je</p>

<div id="app-content"></div>


<ul>
    <li>
        <a href="SpringBootController">SpringBootController return String</a>
    </li>
    <li>
        <a href="SampleModelAndView">SampleModelAndView return viewTemplate</a>
    </li>
    <li>
        <a href="getSamplePojo">getSamplePojo return Pojo</a>
    </li>

</ul>








<script type="text/javascript">

</script>

</body>
</html>